@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.mian{
    width: 100%;
    height: 100vh;
    background-image: url(img/pexels-anete-lusina-6331236.jpg);
    background-position: center;
    background-size: cover;
}
.nav{
    justify-content: space-between;
}
.navsection1 button,.navsection2 button{
    background-color: rgb(111, 78, 55);
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 30%) 0px 2.5px 4px;
}
.navsection1 button i,.navsection2 button i{
    font-size: 30px;
}
.logomaindiv{
    text-align: -webkit-center;
}
.logo{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 350px;
    height: 260px;
    border-radius: 50%;
}
.logo img{
    width: 350px;
    padding-top: 11px;
}
.buttonsection{
    text-align: center;
    padding-top: 2.5rem;
}
.manubtn{
    text-decoration: none;
    color: #fff;
    background-color: rgb(111, 78, 55);
    padding: 7px 50px;
    border-radius: 100px;
    font-size: 19px;
    font-weight: 600;
}
.manubtn:hover{
    color: #fff;
}
.socialbtndiv{
    padding-top: 1rem;
}
.socialbtndiv button{
    background-color: rgb(111, 78, 55);
    color: #fff;
    padding: 3px 12px;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 30%) 0px 2.5px 4px;
}
.footer{
    position: absolute;
    bottom: 0;
    right: 26%;
}
.footer img{
    width: 200px;
}
/*home start*/




@media only screen and (max-width: 370px) {
    .logo{
        width: 293px;
    height: 228px;
    }
.logo img{
    width: 300px;
    padding-top: 11px;
}
.footer{
    right: 20%;
}
}